/* 기본 스타일 */
header {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px 30px;
  gap: 10px;

  background-color: rgba(255, 255, 255, 0.2); /* 배경 투명도 조정 */
  backdrop-filter: blur(10px); /* 블러 효과 증가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 변경 */
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordion {
  display: none;
}

.menu-button {
  font-size: 25px;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #ffffff; /* 글자색 변경 */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

/* nav bar */

header > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

header > ul li {
  padding: 12px 24px;
}

header > ul li a {
  text-decoration: none;
  color: #c4c4c4;
  font-weight: 500;
  font-size: 18px;
}

header > ul li a:hover,
header > ul li a:active {
  color: #64b5f6;
}

/* (animated) title */

.portfolio-title {
  font-size: 40px; /* 폰트 크기 조정 */
  font-weight: bold;
  text-decoration: none;
  color: #f0f0f0; /* 텍스트 색상 변경 */
  transition: color 0.3s ease; /* 색상 변화에 애니메이션 효과 */
}

.portfolio-title:hover,
.portfolio-title:focus {
  color: #64b5f6; /* 호버 시 색상 변경 */
}

/* 활성화된 링크의 색상 표시 */
body#project a[href="/views/project/project.html"],
body#activity a[href="/views/activity/activity.html"],
body#education a[href="/views/education/education.html"],
body#career a[href="/views/career/career.html"],
body#certificate a[href="/views/certificate/certificate.html"] {
  font-weight: bold;
  color: #1565c0;
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
  .panel {
    display: none;
  }

  .header-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  .menu-button {
    display: block;
    background-color: #4a90e2; /* 배경색 변경 */
    color: #ffffff; /* 글자색 변경 */
    font-size: 20px; /* 글자 크기 조정 */
    padding: 5px 10px; /* 패딩 조정 */
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
  }

  header > ul li a {
    font-size: 16px; /* 모바일에서의 글자 크기 조정 */
    padding: 12px;
  }

  .portfolio-title {
    font-size: 20px; /* 모바일에서의 타이틀 글자 크기 조정 */
  }
}
