<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="안녕하세요 김보민입니다" />
  <meta property="og:description" content="저를 소개합니다" />

  <link href="/styles/global.css" rel="stylesheet" type="text/css" />
  <link href="/styles/common.css" rel="stylesheet" type="text/css" />
  <link href="/styles/animista.css" rel="stylesheet" type="text/css" />

  <link href="/components/header/header.css" rel="stylesheet" type="text/css" />
  <link href="/components/card/card.css" rel="stylesheet" type="text/css" />
</head>
  <header class="shadow-pop-tr">
    <div class="header-content">
      <a href="/index.html" class="portfolio-title" id="animated-title">bo_min</a>
      <button class="menu-button">☰</button>
    </div>
    <ul class="panel">
      <li><a href="/views/project/project.html">Projects</a></li>
      <li><a href="/views/activity/activity.html">Activities</a></li>
      <li><a href="/views/career/career.html">Careers</a></li>
      <li><a href="/views/certificate/certificate.html">Certificates</a></li>
      <li><a href="/views/education/education.html">Education</a></li>
      <li><a href="/views/music/music.html">Music</a></li>
    </ul>
  </header>
</body>
