:root {
  --border-color: #cccccc92;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --text-color-light: lightgrey;
  --text-color-dark: #969494;
  --modal-bg-color: #fafafa;
  --close-btn-color: #aaa;
  --close-btn-hover-color: black;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
  padding: 30px;
  width: 100%;
  max-width: 1500px;
  align-self: center;
}

/* project */
.project-card {
  cursor: pointer;
  border: 1px solid var(--border-color);
  overflow: hidden;
  box-shadow: 0 6px 12px var(--box-shadow-color);
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  img {
    height: 100%;
    object-fit: contain;
  }
  h3 {
    margin: 0;
    font-size: 1.3em;
    color: lightgrey;
  }
  p {
    margin: 10px 0 0;
    color: #969494;
  }
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--box-shadow-color);
}

.project-card-content {
  border-top: 1px solid var(--text-color-light);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  padding: 20px;
  text-align: center;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 100px;
  animation: fadeIn 0.5s;
  z-index: 1000;
  overflow: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  background-color: var(--modal-bg-color);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  max-height: 80vh;
  overflow: auto;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
}

.modal-body {
  text-align: center;
  max-height: 70vh;
  min-height: 150px;
  overflow: auto;
  margin: 0 -20px;
  padding: 25px;
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.modal-description {
  background-color: var(--modal-bg-color);
  padding: 25px;
  border-radius: 15px;
  box-shadow: inset 0 2px 4px var(--box-shadow-color);

  p {
    font-size: 1em;
    margin: 10px 0;
    color: #333;
  }
  p:first-child {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.close {
  z-index: 1000;
  color: var(--close-btn-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.close:hover,
.close:focus {
  color: var(--close-btn-hover-color);
  text-decoration: none;
  cursor: pointer;
}
