<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="./project.css" rel="stylesheet" type="text/css" />
    <title>Portfolio - Projects</title>
  </head>

  <body id="project">
    <div
      class="project-item"
      data-project-id="1"
      data-title="Instagram Clone Coding"
      data-description="유튜브 컴공선배 주관 너디너리 챌린지의 일환으로 진행했습니다.">
      <img loading="lazy" src="/assets/hi.png" alt="인스타그램 프로젝트 썸네일" />
      <div class="info">
        <p>Instagram Clone Coding</p>
      </div>
    </div>

    <!-- 모달 -->
    <div id="projectModal"></div>
  </body>
  <script src="/components/header/header.js"></script>
  <script src="./modal.js"></script>
</html>
