<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="./project.css" rel="stylesheet" type="text/css" />
    <title>Portfolio - Projects</title>
  </head>

  <body id="project">
    <main id="projects-container" aria-label="Projects">
      <!-- Projects will be dynamically inserted here -->
    </main>

    <!-- Modal -->
    <aside id="project-modal" class="modal" aria-hidden="true">
      <div class="modal-content">
        <button class="close" aria-label="Close Modal">&times;</button>
        <header class="modal-header">
          <h2 id="modal-project-name"></h2>
        </header>
        <section class="modal-body">
          <img id="modal-project-image" src="" alt="Project Image" />
          <div class="modal-description">
            <p id="modal-project-description"></p>
            <p id="modal-project-date"></p>
            <p id="modal-project-technologies"></p>
          </div>
        </section>
      </div>
    </aside>
  </body>
  <script src="/components/header/header.js"></script>
  <script src="./project.js"></script>
</html>
