<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="./details.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <div id="career-details" class="details-container">
      <section class="content">
        <div class="career-details-description">
          <h1 id="career-details-title">Career Path</h1>
          <p id="career-details-subtitle">Explore the milestones of our journey.</p>
          <p id="career-details-description">
            Here you will find a detailed list of our past experiences and achievements.
          </p>
        </div>
        <div class="details">
          <div class="career-details-card">
            <h3>Responsibilities</h3>
            <ul id="product-responsibilities">
              <li>Lead and manage projects</li>
              <li>Coordinate with cross-functional teams</li>
            </ul>
          </div>

          <div class="career-details-card">
            <h3>Achievements</h3>
            <ul id="product-achievements">
              <li>Increased company revenue by 20%</li>
              <li>Successfully launched 3 major products</li>
            </ul>
          </div>
          <div class="career-details-card">
            <h3>Learnings</h3>
            <p id="product-learnings">
              Gained expertise in project management and team leadership.
            </p>
          </div>
          <div class="career-details-card">
            <h3>Technologies</h3>
            <p id="product-technologies">Proficient in JavaScript, Python, and SQL.</p>
          </div>
          <div class="career-details-card">
            <h3>Team Size</h3>
            <p id="product-team">Managed a team of 15 developers.</p>
          </div>
          <div class="career-details-card">
            <h3>Links</h3>
            <ul id="product-links">
              <li><a href="#">Project Portfolio</a></li>
              <li><a href="#">Company Website</a></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </body>
  <script src="/components/header/header.js"></script>
  <script src="/views/career/career.js"></script>
  <script src="./details.js"></script>
</html>
