#career-details {
  align-self: center;
  width: 100%;
  max-width: 1500px;
  background-color: #ffffff33;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;

  gap: 30px;
  opacity: 0;
  animation: fadeIn 1s forwards;

  display: flex;
  flex-direction: column;
}

#career-details-title {
  font-size: 1.5em;
  color: #0d47a1;
  margin-bottom: 10px;
}

#career-details-subtitle {
  color: #dedbdb;
  margin-bottom: 20px;
}

#career-details-description {
  color: #a5d0e5;
  margin-bottom: 20px;
  font-style: italic;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.career-details-description,
.details {
  background-color: #e3f2fd;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.career-details-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.career-details-description,
.details {
  background-color: #e3f2fd65;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.career-details-card {
  background-color: #e3f2fd65;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  h3 {
    font-size: 1.3em;
    color: #0d47a1;
    margin-bottom: 15px;
  }
  p,
  ul {
    font-size: 1em;
    color: #455a64;
    line-height: 1.6;
    list-style: disc inside;
    margin-left: 20px;
  }
}

.career-details-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* 미디어 쿼리 */
@media (max-width: 768px) {
  #career-details,
  .career-details-description,
  .details,
  .career-details-card {
    padding: 15px;
  }
}
