.profile {
  background-color: #f9f9f9; /* 배경색 변경 */
  border-radius: 20px; /* 테두리 반경 증가 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* 그림자 효과 변경 */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; /* 패딩 증가 */
  height: fit-content;
}

.profile-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 5px solid #e0e0e0;
}

.name {
  color: #ffffff; /* 텍스트 색상 변경 */
  font-size: 26px; /* 폰트 크기 조정 */
  margin-bottom: 10px; /* 여백 조정 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 추가 */
}

.title {
  font-size: 20px; /* 폰트 크기 조정 */
  color: #cdcdcd; /* 밝은 텍스트 색상으로 변경 */
  margin-bottom: 20px; /* 여백 유지 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 추가 */
}

/* social butttons */

#socialButtons {
  margin-bottom: 20px;
}

#socialButtons button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

#socialButtons button svg {
  fill: #4a90e2; /* 아이콘 색상 변경 */
  width: 24px;
  height: 24px;
}

/* contact info */
#contactInfo {
  text-align: left;
  border-top: 1px solid #444;
  padding-top: 10px;
}

#contactInfo p {
  display: flex;
  align-items: center;
  font-size: 16px; /* 텍스트 크기 조정 */
  color: #cdcdcd; /* 텍스트 색상 변경 */
  margin: 8px 0;
}

#contactInfo p svg {
  color: #888; /* 아이콘 색상 변경 */
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
