<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio - Education</title>
    <link href="./music.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section class="favorite-songs">
      <h2>My Favorite Songs</h2>
      <ul>
        <li class="jello-diagonal-1">
          <div class="song-info">
            <p>QWER - 고민중독</p>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/ImuWa3SJulY?si=ZRJVzjx2e1qRqj34"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </li>
        <li class="jello-diagonal-2">
          <div class="song-info">
            <p>LUCY - 날씨가 미쳤어</p>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/JjBkcsODXJo?si=ObfQgVYyizAqz2ov"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </li>
        <li class="jello-diagonal-1">
          <div class="song-info">
            <p>부석순 - 7시에 들어줘</p>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/95msATLBBHg?si=G9YprUO1UZ6T42MC"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </li>
        <li class="jello-diagonal-2">
          <div class="song-info">
            <p>Tennyson - You</p>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/Gm75lsVj-qQ?si=_vSJyVX-SvD5excc"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </li>
        <li class="jello-diagonal-1">
          <div class="song-info">
            <p>ASH ISLAND - Smoking Roses</p>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/IkDsB4Sxuag?si=bzaAbVbmkT_8vit6"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </li>
      </ul>
    </section>
  </body>
  <script src="/components/header/header.js"></script>
</html>
