#career-area {
  position: relative;
  width: calc(100vw - 400px);
  height: 100vh;
  left: -250px;
  top: -200px;
  overflow: visible;
}

.career-card {
  position: absolute;
  cursor: pointer;
  width: 500px;
  height: 200px;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: float 10s linear infinite;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation-play-state: running;
}

.career-card:hover {
  animation-play-state: paused !important;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.career-card-subtitle {
  font-size: 1em;
  color: #dbdbdbac;
}

.career-card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #3fb2ff98;
  margin: 5px 0;
}

.career-card-description {
  font-size: 1em;
  color: #000000a7;
}

@media (max-width: 768px) {
  .career-card {
    width: 300px;
    height: 150px;
  }

  .career-card-subtitle {
    font-size: 0.9em;
  }

  .career-card-title {
    font-size: 1em;
  }

  .career-card-description {
    font-size: 0.8em;
  }
}
