.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel {
  position: relative;
  width: 800px;
  height: 800px;
}

.certificate-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff4d;
  backdrop-filter: blur(10px);
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  text-align: center;
  opacity: 0;
  transform-origin: center center;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.certificate-card.active {
  opacity: 1;
  transform: rotateY(0);
}

.certificate-card.prev {
  opacity: 0;
  transform: rotateY(-180deg);
}

.certificate-card.next {
  opacity: 0;
  transform: rotateY(180deg);
}

.certificate-card h3 {
  font-size: 4em;
  color: #4fa7ff;
  margin-bottom: 15px;
  font-family: "Times New Roman", Times, serif;
}

.certificate-card p {
  font-size: 1.5em;
  color: hsl(0, 0%, 83%);
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

.certificate-card a {
  font-size: 1.2rem;
  color: #4fa7ff;
  text-decoration: none;
  font-weight: bold;
}

.certificate-card a:hover {
  text-decoration: underline;
}

.nav-button {
  background-color: #47a3ff82;
  border: none;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button:disabled {
  background-color: #707071cb;
  cursor: not-allowed;
  transform: none;
}

.nav-button:hover:not(:disabled) {
  background-color: #1565c0;
  transform: scale(1.1);
}

.nav-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .carousel {
    position: relative;
    width: 300px;
    height: 400px;
  }
  .certificate-card h3 {
    font-size: 1.5em;
  }

  .certificate-card p {
    font-size: 1em;
  }

  .certificate-card a {
    font-size: 0.7rem;
  }
  .nav-button {
    padding: 10px;
  }
}
