.modal {
  position: fixed;
  z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 값을 높임 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* 내용이 화면을 넘어갈 경우 스크롤 표시 */
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px; /* 모달의 최대 너비 */
  max-height: 80vh; /* 화면 높이의 80%를 넘지 않도록 설정 */
  overflow: hidden; /* 내부 오버플로우 숨김 */
  /* 필요하다면 여기에 애니메이션 효과를 추가할 수 있습니다. */
  transform: translate(-50%, -50%);
  position: relative; /* top과 left 값을 사용하기 위해 relative 설정 */
  top: 50%;
  left: 50%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* 헤더와 콘텐츠 사이의 간격 */
}

.modal-header h2 {
  margin: 0; /* h2의 기본 마진 제거 */
  font-size: 1.5em; /* 제목 글자 크기 */
}

.close {
  color: #aaa;
  cursor: pointer;
  position: absolute; /* .modal-content 내에서 절대적 위치 */
  top: 20px; /* 상단에서부터의 거리 */
  right: 20px; /* 우측에서부터의 거리 */
  font-size: 1.5em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
