<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="./detail.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="education-detail">
        <h1 id="title"></h1>
        <h2 id="subtitle"></h2>
        <p id="description"></p>
        <a href="../education.html" class="back-btn">Back to Carousel</a>
      </div>
    </div>
  </body>
  <script src="/components/header/header.js"></script>
  <script src="/views/education/education.js"></script>
  <script src="./details.js"></script>
</html>
