body {
  display: flex;
  flex-direction: column;

  padding: 32px 16px;

  background-color: antiquewhite;
}

/* 기본 스타일: 모바일 기준 */
.area {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 모바일 화면에서는 1열 */
  grid-gap: 10px; /* 카드 사이의 간격 */
}

/* 미디어 쿼리를 사용하여 태블릿 화면에서의 스타일 변경 (화면 너비 768px 이상) */
@media (min-width: 768px) {
  .area {
    grid-template-columns: repeat(2, 1fr); /* 태블릿 화면에서는 2열 */
  }
}

/* 미디어 쿼리를 사용하여 노트북 화면에서의 스타일 변경 (화면 너비 1024px 이상) */
@media (min-width: 1024px) {
  .area {
    grid-template-columns: repeat(3, 1fr); /* 노트북 화면에서는 3열 */
  }
}

/* 추가로 대형 데스크탑 화면을 위한 설정 (화면 너비 1440px 이상) */
@media (min-width: 1440px) {
  .area {
    grid-template-columns: repeat(4, 1fr); /* 대형 데스크탑 화면에서는 4열 */
  }
}
