:root {
  --background-light: rgba(255, 255, 255, 0.2);
  --background-dark: rgba(0, 0, 0, 0.2);
  --text-color-light: rgba(255, 255, 255, 0.4);
  --blur-effect: 15px;
  --border-radius: 20px;
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.25);
  --box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#index-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

#index-profile {
  background-color: var(--background-light);
  backdrop-filter: blur(var(--blur-effect));
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  max-width: 350px;
  min-width: 250px;
}

#index-content {
  flex: 1;
  min-width: 200px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  margin: auto 0;
  background-color: var(--background-dark);
  border-radius: var(--border-radius);
  h2 {
    color: rgba(245, 245, 245, 0.72);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
}

/** tech stack */

.tech-stack {
  margin-bottom: 30px;
  background-color: var(--background-dark);
  padding-bottom: 30px;
  border-radius: 10px;
  img {
    width: 100px;
  }
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
    li {
      flex-basis: 20%;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .tech-stack .tech-icons li {
    flex-basis: 50%;
    img {
      width: 60px;
    }
  }
}
