#index-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

#index-profile {
  max-width: 350px;
  min-width: 250px;
}

#index-content {
  flex: 1;
  min-width: 200px;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  margin: auto 0;

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}

/** favorite songs */

.favorite-songs {
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    :hover {
      background: #e8f4fd;
    }
  }
}

.song-info {
  text-align: center;

  p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

/** tech stack */

.tech-stack {
  margin-bottom: 30px;

  img {
    width: 100px;
  }

  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
    li {
      flex-basis: 20%;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .tech-stack {
    .tech-icons li {
      flex-basis: 40%;
    }
    img {
      width: 50px;
    }
  }
}
