<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="./details.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <div id="activity-details" class="details-container">
      <div class="activity-card">
        <h1 id="product-title" class="activity-card-title"></h1>
        <p id="product-subtitle" class="activity-card-subtitle"></p>
        <div class="activity-card-container">
          <div class="activity-card-section">
            <h2>Main Achievements</h2>
            <ul id="product-achievements" class="details-list"></ul>
          </div>
          <div class="activity-card-section">
            <h2>Technologies Used</h2>
            <p id="product-technologies"></p>
          </div>
          <div class="activity-card-section">
            <h2>Team Members</h2>
            <p id="product-team"></p>
          </div>
          <div class="activity-card-section">
            <h2>Links</h2>
            <ul id="product-links" class="details-list"></ul>
          </div>
          <div class="activity-card-section">
            <h2>Lessons Learned</h2>
            <p id="product-lessons"></p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/components/header/header.js"></script>
  <script src="/views/activity/activity.js"></script>
  <script src="./details.js"></script>
</html>
