.details-container {
  align-self: center;

  width: 90%;
  max-width: 800px;
  backdrop-filter: blur(10px); /* 블러 효과 강화 */
  background: rgba(255, 255, 255, 0.5); /* 배경 투명도 증가 */
  border-radius: 15px; /* 둥근 모서리 강조 */
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 강화 */
  animation: fadeIn 1s ease-in-out; /* Animista fadeIn 애니메이션 적용 */
}

#activity-details {
  animation: fadeIn 1s ease-in-out;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(5px); /* 블러 효과 조정 */
  animation: jello-horizontal 0.9s both;
}

#activity-details:hover {
  backdrop-filter: blur(15px); /* 호버 시 블러 효과 강화 */
  transform: perspective(1000px) rotateY(5deg) rotateX(-5deg);
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 강화 */
}

.activity-card {
  text-align: center;
}

.activity-card-title {
  font-size: 2.2em;
  margin-bottom: 5px;
  color: #2196f3; /* 포인트 컬러로 변경 */
  font-weight: 700;
}

.activity-card-subtitle {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #8d7f7f;
}

.activity-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activity-card-section {
  padding: 15px;
  background-color: rgba(240, 248, 255, 0.5); /* 밝은 투명도 조정 */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  h2 {
    font-size: 1.2em;
    color: #2196f3; /* 포인트 컬러로 변경 */
    margin-bottom: 10px;
    font-weight: 600;
  }
}

.activity-card-details-list {
  list-style-type: disc;
  padding-left: 20px;
  li {
    margin-bottom: 5px;
    color: #5e3434;
  }
}

/* 인터랙티브 애니메이션 추가 */
#activity-details::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 154, 154, 0.868), transparent 50%);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

#activity-details:hover::before {
  opacity: 1;
  transform: translate(50%, 50%);
}
