#activity-details {
  align-self: center;
  margin-top: 20px;
  width: 90%;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.57);
  border-radius: 15px;
  padding: 20px 40px;
  animation: fadeIn 1s ease-in-out;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 30px rgba(255, 159, 159, 0.1);
}

#activity-details:hover {
  transform: perspective(1000px) rotateY(5deg) rotateX(-5deg);
  box-shadow: 0 30px 40px rgba(255, 159, 159, 0.2);
}
.card-detail {
  text-align: center;
}

.product-title {
  font-size: 2.2em;
  margin-bottom: 5px;
  color: #bb1600b4;
  font-weight: 700;
  animation: slideDown 0.5s ease-in-out;
}

.product-subtitle {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #8d7f7f;
}

.details-container {
  display: flex;

  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
}

.details-section {
  padding: 15px;
  background-color: rgba(240, 128, 128, 0.171);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.details-section h2 {
  font-size: 1.2em;
  color: #b92929;
  margin-bottom: 10px;
  font-weight: 600;
}

.details-list {
  list-style-type: disc;
  padding-left: 20px;
}

.details-list li {
  margin-bottom: 5px;
  color: #5e3434; /* 어두운 회색 */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 인터랙티브 애니메이션 추가 */
#activity-details::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 154, 154, 0.868), transparent 50%);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

#activity-details:hover::before {
  opacity: 1;
  transform: translate(50%, 50%);
}
